*~
atlassian-ide-plugin.xml
/bin
build
BUILD
.cache
*.class
.classpath
.coverage
cscope*
data
dependency-reduced-pom.xml
dev.conf
*.diff
dist
download
.ensime*
git
.idea
*/.idea/tasks.xml
*/.idea/workspace.xml
*.iml
*.jar
largegit.sh
make.sh
.metadata*
*.orig
*parse*.sh
*partition*.sh
*.patch
patches-*
pig_*.log
.project
*.pyc
/python/cover/
/python/.coverage
/python/nosetests.xml
integration-tests/tests/*_generated.py*
integration-tests/tests/sandbox
integration-tests/tests/pytest-report
.Rhistory
scratch.py
sdhu.xml
stats
*.swo
*.swp
tags
TAGS
target
*.tar.gz
testgraphs
virtpy
*.zip
/zinc-0.3.7
*.log
**/metastore_db*
**/*egg-info*
scoring
graphframes
*.coverage*
